[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
fastapi = "==0.95.1"
gunicorn = "*"
uvicorn = "*"
pydantic = {version = "==1.10.7", extras = ["dotenv"]}  # app settings management
sqlalchemy = {version = "==2.0.11", extras = ["mypy"]}

[dev-packages]
# DB migrations
alembic = "*"
# testing
pytest = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-cov = "*"
httpx = "==0.24.0"  # for FastAPI TestClient to work
# code quality
flake8 = "*"
black = "==23.3.0"
isort = "*"
mypy = "==1.2.0"
pre-commit = "*"

[scripts]
# set up the project
setup = """bash -c '
    pipenv install -d && \
    pre-commit install --install-hooks
'"""
# run service locally
start-dev = """bash -c '
    echo "Running DB migrations" && \
    alembic upgrade head && \
    echo "Running app" && \
    uvicorn --reload tinyurl2.app:app
'"""
# run tests
test = "pytest"
# run tests with coverage
test-cov = "pytest --cov --cov-report term-missing:skip-covered"
# check code quality
code-qa = "pre-commit run --all-files"
# A wrapper script to spellcheck file names with cspell for use with
# pre-commit framework.
#
# Created to workaround the following limitations:
# - cspell does not have an option to check file names
# - pre-commit passes file list as the last part of the command
spellcheck-file-paths = """bash -c '
    echo "$@" | cspell-cli stdin --cache --show-context --no-summary --no-progress
'"""
